.header {
    height: 70px;
    background-color: #6a1b9a;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 70px;
    color: #1dd698;
}